<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	  
<head th:fragment="headerFragmentt" >
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	
	<meta content="" name="description" />
	
	<meta content="" name="author" />
	
	<meta charset="utf-8" />
	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	
<!-- 	<script th:src="@{/cdn-cgi/apps/head/vAzQ3pO_LVF9Y_-CSxLP87NslSA.js"></script> -->
	
	<link th:href="@{/assets/plugins/font-awesome/css/font-awesome.css}" rel="stylesheet" type="text/css" />
	
	<link th:href="@{/assets/plugins/gritter/css/jquery.gritter.css}" rel="stylesheet" type="text/css" />
	
	<link th:href="@{/assets/plugins/bootstrap-datepicker/css/datepicker.css}" rel="stylesheet" type="text/css" />
	
	<link th:href="@{/assets/plugins/jquery-ricksaw-chart/css/rickshaw.css}" rel="stylesheet" type="text/css" media="screen">
	
	<link th:href="@{/assets/plugins/jquery-morris-chart/css/morris.css}" rel="stylesheet" type="text/css" media="screen">
	
	<link th:href="@{/assets/plugins/bootstrap-select2/select2.css}" rel="stylesheet" type="text/css" media="screen" />
	
	<link th:href="@{/assets/plugins/jquery-jvectormap/css/jquery-jvectormap-1.2.2.css}" rel="stylesheet" type="text/css" media="screen" />
	
	<link th:href="@{/assets/plugins/pace/pace-theme-flash.css}" rel="stylesheet" type="text/css" media="screen" />
	
	<link th:href="@{/assets/plugins/bootstrapv3/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
	
	<link th:href="@{/assets/plugins/bootstrapv3/css/bootstrap-theme.min.css}" rel="stylesheet" type="text/css" />
	
	<link th:href="@{/assets/plugins/animate.min.css}" rel="stylesheet" type="text/css" />
	
	<link th:href="@{/assets/plugins/jquery-scrollbar/jquery.scrollbar.css}" rel="stylesheet" type="text/css" />
	
	<link th:href="@{/webarch/css/webarch.css}" rel="stylesheet" type="text/css" />
</head>
<body>

</body>
</html>