<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="headerTag :: headerFragmentt" >
<title>Liste des catégories</title>
</head>
<body class="">
	
	<div class="header navbar navbar-inverse " th:replace="~{topMenu}">
	</div>
	
	<div class="page-container row">
		
		<div class="page-sidebar " th:replace="~{sidebar}" id="main-menu">
		</div>
		
		<div class="page-content">
			<br><br><br><br>
			<div th:if="${ successMessage != null }" class="alert alert-success alert-dismissible fade in">
    			<a class="close" data-dismiss="alert" aria-label="close">&times;</a>
    			<strong th:text="${successMessage}" ></strong>	
  			</div>
  			<div th:if="${ errorMessage != null }" class="alert alert-danger alert-dismissible fade in">
    			<a class="close" data-dismiss="alert" aria-label="close">&times;</a>
    			<strong th:text="${errorMessage}" ></strong>	
  			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="grid simple form-grid">
						<div class="grid-title no-border">
						Formulaire de modification
						<div class="tools">
						<a href="javascript:;" class="collapse"></a>
						</div>
						</div>
						<div class="grid-body no-border">
							<form th:object="${entrepreneur}" th:action="@{'/modificationEntrepreneur/'+${entrepreneur.id}}" th:method="put" class="form-no-horizontal-spacing" id="form-condensed" autocomplete="off" enctype='multipart/form-data'>
								<div class="row column-seperation">
									<div class="col-md-12">
										<h4>Informations Personnelles</h4>
										<div class="row form-row">
											<div class="col-md-12">
												<input th:field="*{denominationSociale}" th:value="${entrepreneur.denominationSociale}"  id="form3Email" type="text" class="form-control" required="required">
											</div>
										</div>
										<div class="row form-row">
											<div class="col-md-12">
												<input th:field="*{secteurActivite}" th:value="${entrepreneur.secteurActivite}"  id="form3Email" type="text" class="form-control" required="required">
											</div>
										</div>
										<div class="row form-row">
											<div class="col-md-12">
												<input th:field="*{siegeSocial}" th:value="${entrepreneur.siegeSocial}"  id="form3Email" type="text" class="form-control" required="required">
											</div>
										</div>
										<div class="row form-row">
											<div class="col-md-12">
												<input th:field="*{telephone}" th:value="${entrepreneur.telephone}"  id="form3Email" type="text" class="form-control" required="required">
											</div>
										</div>
										<div class="row form-row">
											<div class="col-md-12">
												<input th:field="*{siteWeb}" th:value="${entrepreneur.siteWeb}"  id="form3Email" type="text" class="form-control" required="required">
											</div>
										</div>
										<div class="row form-row">
											<div class="col-md-12">
												<input th:field="*{adresseMail}" th:value="${entrepreneur.adresseMail}"  id="form3Email" type="text" class="form-control" required="required">
											</div>
										</div>
									</div>
								</div>
								<input type="hidden" th:field="*{compte.enabled}"  th:value="${entrepreneur.compte.enabled}" />
								<input type="hidden" th:field="*{compte.id}" th:value="${entrepreneur.compte.id}" />
								<input type="hidden" th:field="*{compte.login}" th:value="${entrepreneur.compte.login}" />
								<input type="hidden" th:field="*{compte.motDePasse}" th:value="${entrepreneur.compte.motDePasse}" />
								<input type="hidden" th:field="*{compte.role}" th:value="${entrepreneur.compte.role}" />
								<input type="hidden" th:field="*{logo}" th:value="${entrepreneur.logo}" />
								<div class="form-actions">
									<div class="pull-right">
										<button class="btn btn-primray btn-cons" type="submit"><i class="icon-ok"></i> Enregistrer</button>
										<a th:href="@{/entrepreneurs}" class="btn btn-white btn-cons">Annuler</a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script th:src="@{/assets/plugins/pace/pace.min.js}" type="text/javascript"></script>
	<script th:src="@{/assets/plugins/jquery/jquery-1.11.3.min.js}" type="text/javascript"></script>
	<script th:src="@{/assets/plugins/bootstrapv3/js/bootstrap.min.js}" type="text/javascript"></script>
	<script th:src="@{/assets/plugins/jquery-block-ui/jqueryblockui.min.js}" type="text/javascript"></script>
	<script th:src="@{/assets/plugins/jquery-unveil/jquery.unveil.min.js}" type="text/javascript"></script>
	<script th:src="@{/assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js}" type="text/javascript"></script>
	<script th:src="@{/assets/plugins/jquery-numberAnimate/jquery.animateNumbers.js}" type="text/javascript"></script>
	<script th:src="@{/assets/plugins/jquery-validation/js/jquery.validate.min.js}" type="text/javascript"></script>
	<script th:src="@{/assets/plugins/bootstrap-select2/select2.min.js}" type="text/javascript"></script>
	<script th:src="@{/webarch/js/webarch.js}" type="text/javascript"></script>
	<script th:src="@{/assets/js/chat.js}" type="text/javascript"></script>
	<script th:src="@{/assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js}" type="text/javascript"></script>
	<script th:src="@{/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js}" type="text/javascript"></script>
	<script th:src="@{/assets/plugins/jquery-block-ui/jqueryblockui.js}" type="text/javascript"></script>
	<script th:src="@{/assets/plugins/bootstrap-select2/select2.min.js}" type="text/javascript"></script>
	<script th:src="@{/assets/plugins/jquery-ricksaw-chart/js/raphael-min.js}"></script>
	<script th:src="@{/assets/plugins/jquery-ricksaw-chart/js/d3.v2.js}"></script>
	<script th:src="@{/assets/plugins/jquery-ricksaw-chart/js/rickshaw.min.js}"></script>
	<script th:src="@{/assets/plugins/jquery-morris-chart/js/morris.min.js}"></script>
	<script th:src="@{/assets/plugins/jquery-easy-pie-chart/js/jquery.easypiechart.min.js}"></script>
	<script th:src="@{/assets/plugins/jquery-slider/jquery.sidr.min.js}" type="text/javascript"></script>
	<script th:src="@{/assets/plugins/jquery-jvectormap/js/jquery-jvectormap-1.2.2.min.js}" type="text/javascript"></script>
	<script th:src="@{/assets/plugins/jquery-jvectormap/js/jquery-jvectormap-us-lcc-en.js}" type="text/javascript"></script>
	<script th:src="@{/assets/plugins/jquery-sparkline/jquery-sparkline.js}"></script>
	<script th:src="@{/assets/plugins/jquery-flot/jquery.flot.min.js}"></script>
	<script th:src="@{/assets/plugins/jquery-flot/jquery.flot.animator.min.js}"></script>
	<script th:src="@{/assets/plugins/skycons/skycons.js}"></script>
	<script th:src="@{/assets/js/dashboard.js}" type="text/javascript"></script>
	
	
</body>
</html>