<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="headerTag :: headerFragmentt" >
<title>Liste des catégories</title>
</head>
<body class="">
	
	<div class="header navbar navbar-inverse " th:replace="~{topMenu}">
	</div>
	
		<div class="page-sidebar " th:replace="~{sidebar}" id="main-menu">
		</div>
		
		<div class="page-container row">
		
		<div class="page-sidebar" th:replace="~{sidebar}" id="main-menu">
		</div>
		<div class="page-content">
			<br><br><br><br>
			<th:block th:if="${!entrepreneurs.empty}">
					<form autocomplete="off" th:action="@{/resultatRechercheEntrepreneurs}" th:method="post">
						<ul class="nav quick-section">
							<li class="m-r-10 input-prepend inside search-form no-boarder">
								<span class="add-on"> <i class="material-icons">search</i></span>
								<input name="nomE" type="text" class="no-boarder " placeholder="Chercher des entrepreneurs par dénomination ..." style="width:250px;">
								<input type="submit" value="Vas-y" class="btn btn-success no-boarder" style="width:80px;"/>
							</li>
						</ul>
					</form>
					<br><br>
			</th:block>
			<div>
				<div class="grid simple ">
					<div class="grid-title no-border">
					<h4>Résultat <span class="semi-bold">de votre recherche</span></h4>
					<div class="tools">
					<a href="javascript:;" class="collapse"></a>
					</div>
					</div>
					<div class="grid-body no-border">
						<th:block th:if="${!entrepreneurs.empty}">
							<table class="table no-more-tables">
								<thead>
									<tr>
										<th>Dénomination Sociale</th>
										<th>Secteur d'activité</th>
										<th>Adresse-mail</th>
										<th>Site Web</th>
										<th>Téléphone</th>
										<th>Siège Social</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="entrepreneur : ${entrepreneurs}">
										<td th:text="${entrepreneur.denominationSociale}"></td>
										<td th:text="${entrepreneur.secteurActivite}"></td>
										<td th:text="${entrepreneur.adresseMail}"></td>
										<td th:text="${entrepreneur.siteWeb}"></td>
										<td th:text="${entrepreneur.telephone}"></td>
										<td th:text="${entrepreneur.siegeSocial}"></td>
										<td>
											<form th:action="@{'/modificationEntrepreneur/'+${entrepreneur.id}}" th:method="get">
												<input type="submit" value="Modifier" class="btn btn-warning" />
											</form>
											<th:block th:if="${entrepreneur.compte.enabled} == true " >
												<form th:action="@{'/desactiverEntrepreneur/'+${entrepreneur.id}}" th:method="put">
													<input type="submit" value="Désactiver" class="btn btn-danger" />
												</form>
											</th:block>
											<th:block th:if="${entrepreneur.compte.enabled} == false" >
												<form th:action="@{'/activerEntrepreneur/'+${entrepreneur.id}}" th:method="put">
													<input type="submit" value="Activer" class="btn btn-primary" />
												</form>
											</th:block>
										</td>
									</tr>
								</tbody>
							</table>
						</th:block>
						<th:block th:if="${entrepreneurs.empty}">
								<div style="float: center;">
									<i class="material-icons">sentiment_dissatisfied</i> Désolé, pas d'entrepreneurs correspondants à votre recherche ... 
								</div>
						</th:block>
					</div>
				</div>
			</div>	
		</div>
		
	</div>
	
	
	<script th:src="@{/assets/plugins/pace/pace.min.js}" type="text/javascript"></script>
	<script th:src="@{/assets/plugins/jquery/jquery-1.11.3.min.js}" type="text/javascript"></script>
	<script th:src="@{/assets/plugins/bootstrapv3/js/bootstrap.min.js}" type="text/javascript"></script>
	<script th:src="@{/assets/plugins/jquery-block-ui/jqueryblockui.min.js}" type="text/javascript"></script>
	<script th:src="@{/assets/plugins/jquery-unveil/jquery.unveil.min.js}" type="text/javascript"></script>
	<script th:src="@{/assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js}" type="text/javascript"></script>
	<script th:src="@{/assets/plugins/jquery-numberAnimate/jquery.animateNumbers.js}" type="text/javascript"></script>
	<script th:src="@{/assets/plugins/jquery-validation/js/jquery.validate.min.js}" type="text/javascript"></script>
	<script th:src="@{/assets/plugins/bootstrap-select2/select2.min.js}" type="text/javascript"></script>
	<script th:src="@{/webarch/js/webarch.js}" type="text/javascript"></script>
	<script th:src="@{/assets/js/chat.js}" type="text/javascript"></script>
	<script th:src="@{/assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js}" type="text/javascript"></script>
	<script th:src="@{/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js}" type="text/javascript"></script>
	<script th:src="@{/assets/plugins/jquery-block-ui/jqueryblockui.js}" type="text/javascript"></script>
	<script th:src="@{/assets/plugins/bootstrap-select2/select2.min.js}" type="text/javascript"></script>
	<script th:src="@{/assets/plugins/jquery-ricksaw-chart/js/raphael-min.js}"></script>
	<script th:src="@{/assets/plugins/jquery-ricksaw-chart/js/d3.v2.js}"></script>
	<script th:src="@{/assets/plugins/jquery-ricksaw-chart/js/rickshaw.min.js}"></script>
	<script th:src="@{/assets/plugins/jquery-morris-chart/js/morris.min.js}"></script>
	<script th:src="@{/assets/plugins/jquery-easy-pie-chart/js/jquery.easypiechart.min.js}"></script>
	<script th:src="@{/assets/plugins/jquery-slider/jquery.sidr.min.js}" type="text/javascript"></script>
	<script th:src="@{/assets/plugins/jquery-jvectormap/js/jquery-jvectormap-1.2.2.min.js}" type="text/javascript"></script>
	<script th:src="@{/assets/plugins/jquery-jvectormap/js/jquery-jvectormap-us-lcc-en.js}" type="text/javascript"></script>
	<script th:src="@{/assets/plugins/jquery-sparkline/jquery-sparkline.js}"></script>
	<script th:src="@{/assets/plugins/jquery-flot/jquery.flot.min.js}"></script>
	<script th:src="@{/assets/plugins/jquery-flot/jquery.flot.animator.min.js}"></script>
	<script th:src="@{/assets/plugins/skycons/skycons.js}"></script>
	<script th:src="@{/assets/js/dashboard.js}" type="text/javascript"></script>
	
	
</body>
</html>